@{
    Layout = "_Layout1";

}
@using Data
@model  IEnumerable<Book>;
<h1>Get All Patient Booking Page</h1>



<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Doctor Name</th>
            <th>Specialize</th>
            <th>Day</th>
            <th>From</th>
            <th>To</th>
            <th>Price</th>
            <th>Discount Code</th>
            <th>Final Price</th>
            <th>Status</th>


        </tr>
    </thead>
    <tbody>
        
        @foreach (var eachModel in Model)
        {
            string fullName = @eachModel.Time.Day.DoctorAppointment.Doctor.FirstName + " " + @eachModel.Time.Day.DoctorAppointment.Doctor.LastName;

            <tr>
                <td>@eachModel.Time.Day.DoctorAppointment.Doctor.Image</td>
                <td>@fullName</td>
                <td>@eachModel.Time.Day.DoctorAppointment.Doctor.specialization</td>
                <td>@eachModel.Time.Day.WeekDay</td>

                <td>@eachModel.Time.From</td>
                <td>@eachModel.Time.To</td>

                <td>@eachModel.Time.Day.DoctorAppointment.Price</td>
                <td>Discount Type</td>
                <td>final Price</td>




                <td>@eachModel.Request</td>
                <td>
                    <form asp-controller="Patient" asp-action="Cancel" method="post">
                        <input type="hidden" name="bookId" value=@eachModel.Id />
                        <button type="submit">Cancel</button>

                    </form>
                    
                </td>






            </tr>

        }
    </tbody>
</table>

