@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is the Home page of Patients</h1>

@{
    Layout = "_Layout1";


}

<h1>Get All @ViewBag.GetAll Page</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Phone Number</th>
             <th>Action</th>
               
        </tr>
    </thead>
   <tbody>
        @foreach (var eachModel in Model)
        {
            <tr>
                <td>@eachModel.Id</td>

                <td>@eachModel.FirstName</td>
                <td>@eachModel.LastName</td>
                <td>@eachModel.Email</td>
                <td>@eachModel.specialization</td>
                <td>@eachModel.PhoneNumber</td>
                <th>

                <form asp-controller="Admin" asp-action="DeleteDoctor" method="post">
                    <input type="hidden" name="Id" value=@eachModel.Id />
                    <button type="submit">Book</button>

                </form>

                 </th>




               
            </tr>

        }
    </tbody>
</table>

@{
    for(int x=1;x<=10;x++)
    {
         <form asp-controller="Admin" asp-action="GetAllDoctors" method="get">
         <input type="hidden" name="pageNumber" value=@x />

         <button type="submit">@x</button>
        </form>
    }
}