@using vezeeta.Net.Models.ViewModel.Admin
@model IEnumerable<AdminViewModel>;

@{
    Layout = "_Layout1";


}


<h1>Get All @ViewBag.GetAll Page</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Phone Number</th>
             @{if(ViewBag.isAdmin=="Doctors")
                 {
                     <th>Action</th>
                 }
              }
        </tr>
    </thead>
   <tbody>
        @foreach (var eachModel in Model)
        {
            <tr>
                <td>@eachModel.Id</td>

                <td>@eachModel.FirstName</td>
                <td>@eachModel.LastName</td>
                <td>@eachModel.Email</td>
                <td>@eachModel.specialization</td>
                <td>@eachModel.PhoneNumber</td>
                <th>
                 @{if(ViewBag.GetAll=="Doctors")
                 {

                <br />


                    <form asp-controller="Admin" asp-action="EditDoctor" method="post">
                    <input type="hidden" name="Id" value=@eachModel.Id />
                    <button type="submit">Edit</button>

                </form>

                <form asp-controller="Admin" asp-action="DeleteDoctor" method="post">
                    <input type="hidden" name="Id" value=@eachModel.Id />
                    <button type="submit">Delete</button>

                </form>
                <br />
                 }
                }

                 </th>




               
            </tr>

        }
    </tbody>
</table>

@{
    @for (int x = 1; x <= 10; x++)
    {
        <form asp-controller="Admin" asp-action="GetAllDoctors" method="get" style="display: inline-block;margin-right: 5px;">
            <input type="hidden" name="pageNumber" value="@x" />
            <button type="submit">@x</button>
        </form>
    }
}
