@using vezeeta.Net.Models.ViewModel.Admin
@model IEnumerable<AdminViewModel>;

@{
    Layout = "_Layout1";


}


<h1>Get All @ViewBag.GetAll Page</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>

            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gendre</th>
            @{
                if (ViewBag.GetAll == "Doctors")
                {
                    <th>Specialization</th>
                }
                else
                {
                    <th>DateOfBirth</th>

                }
            }
             @{if(ViewBag.GetAll=="Doctors")
                 {
                     <th>Action</th>
                 }
              }
        </tr>
    </thead>
   <tbody>
        @foreach (var eachModel in Model)
        {
            string fullName = @eachModel.FirstName + " " + @eachModel.LastName;
            <tr>
                <td>@eachModel.Image</td>

                <td>@fullName</td>
                <td>@eachModel.Email</td>
                <td>@eachModel.PhoneNumber</td>
                <td>@eachModel.Gendre</td>
                @{
                    if (ViewBag.GetAll == "Doctors")
                    {
                        <td>@eachModel.specialization</td>
                    }
                    else
                    {
                        <td>@eachModel.DateOfBirth.ToString("yyyy-MM-dd")</td>

                    }
                }


                <th>
                 @{if(ViewBag.GetAll=="Doctors")
                 {

                <br />


                    <form asp-controller="Admin" asp-action="EditDoctor" method="post">
                    <input type="hidden" name="Id" value=@eachModel.Id />
                    <button type="submit">Edit</button>

                </form>

                <form asp-controller="Admin" asp-action="DeleteDoctor" method="post">
                    <input type="hidden" name="Id" value=@eachModel.Id />
                    <button type="submit">Delete</button>

                </form>
                <br />
                 }
                }

                 </th>




               
            </tr>

        }
    </tbody>
</table>

@{
    @for (int x = 1; x <= 10; x++)
    {
        if(ViewBag.GetAll=="Doctors")
        {
            <form asp-controller="Admin" asp-action="GetAllDoctors" method="get" style="display: inline-block;margin-right: 5px;">
                <input type="hidden" name="pageNumber" value="@x" />
                <button type="submit">@x</button>
            </form>
        }
        else
        {
            <form asp-controller="Admin" asp-action="GetAllPatients" method="get" style="display: inline-block;margin-right: 5px;">
                <input type="hidden" name="pageNumber" value="@x" />
                <button type="submit">@x</button>
            </form>
        }

    }
}
